# Database Credentials
POSTGRES_USER=admin
POSTGRES_PASSWORD=your_local_password_here
POSTGRES_DB=autosalone

# pgAdmin Credentials
PGADMIN_EMAIL=your_email@example.com
PGADMIN_PASSWORD=your_pgadmin_password_here