# Database Credentials
POSTGRES_USER=admin
POSTGRES_PASSWORD=password_here
POSTGRES_DB=autosalone

# Test Database Credentials
POSTGRES_TEST_USER=admin
POSTGRES_TEST_PASSWORD=local_password_here
POSTGRES_TEST_DB=autosalone_test

# JWT Configuration
JWT_SECRET_KEY=jwt-secret-key
JWT_ISSUER=autosalone-api